[2013-02-22 15:34] Abnaxos opened #1 "Warning - Multiple sources of package comments found"
JavaDoc complains about multiple sources for package comments. `setRawCommentText()` checks that it's been called only once -- if both package.html and package-info.java exists, this method would be called twice, therefore JavaDoc issues a warning on the second call.

In this case, however, the second call originates in the docs being converted from HTML to Markdown.

Find a workaround.

[2013-03-04 14:40] Abnaxos opened #2 "Integrate highlight.js"
Integrate [highlight.js](http://softwaremaniacs.org/soft/highlight/en/) for syntax highlighting code blocks:

[code]

If no language is specified, the code should _not_ be hightlighted (don't try to guess the language).

[2013-03-04 15:00] Abnaxos opened #3 "Handle `ParsingTimeoutException`"
Handle `ParsingTimeoutException` gracefully and provide an option to set the parsing timeout.

[2013-03-04 17:45] Abnaxos opened #4 "h2 in class descriptions"
Too much space below, too little above.

Add a new CSS rule for `.block h2`. Make sure it looks the same in package-info.java (the issue isn't present there).

[2013-03-11 20:32] #2 closed, assigned to Abnaxos

[2013-03-12 20:31] #3 closed, assigned to Abnaxos

[2013-03-12 20:47] #1 closed, assigned to Abnaxos

[2013-03-14 17:35] Abnaxos opened #5 "Enhance `-extensions` option"
Enhance the `-extensions` to selectively disable some extensions. Right now, the list specified with `-extensions` replaces the default one. However, it would be nice to be able to only disable or enable single extensions:
- `-extensions -smartypants`: Just disable `Extensions.SMARTYPANTS`
- `-extensions +fenced-code-blocks: Just enable`Extensions.FENCED_CODE_BLOCKS`

[2013-03-15 16:31] Abnaxos opened #6 "Add support for inline tags"
Inline tags are currently just left alone, as they don't interfere with Markdown syntax, usually. There is, however, an exception to this: If the extension SMARTS is enabled, it will break some links, e.g. in `{@link String#format(String, Object...)}` the three dots for varargs will be translated into a Unicode ELLIPSIS (`'\u2026'`), which is just plain wrong.

To work around this, we need to intr

[2013-04-16 16:45] #4 closed, assigned to nobody

[2013-04-16 19:05] Abnaxos opened #7 "Change rendering of Wiki-style links"
Wiki-style links should be rendered as link tags. I.e., ˋ[[Foo#bar() foobar]]ˋ should become ˋ{@link Foo#bar() foobar}ˋ.

The current way Wiki-style links are rendered doesn't make much sense, this is how Wiki-style links should work. Event though most people probably won't use them anyway and stick to ˋ{@link Foo#bar() foobar}ˋ, because IDEs will recognise these links. But still, that way, such l

[2013-04-16 19:18] Abnaxos opened #8 "Handling of headings in doc comments"
Change rendering of headings: Render h1 as h3, h2 as h4, etc. This probably makes much more sense than not using h1 at all and starting with h2 in doc comments (as I currently do). Have a closer look at how hX elements are currently used by the standard doclet and the API documentation, and how we best fit in with headings in the doc comments. Alternatively, just adapt the CSS.

**Note**: This may

[2013-04-22 16:04] #6 closed, assigned to nobody

[2013-04-25 20:43] Abnaxos opened #9 "Update docs for 1.1"
Update package description/README.md to 1.1.

[2013-04-25 20:44] Abnaxos opened #10 "Change License to GPL"
Change license to GPL to avoid potential licensing issues with PlantUML.

[2013-04-25 20:48] Abnaxos opened #11 "Deploy to Maven central"
Deploy to Maven central.

[2013-04-26 11:42] Abnaxos opened #12 "Generate TODO-Titles as HTML"
Generate the title and number into the HTML instead of leaving that to CSS. While using CSS has the advantage of being more customisable, JavaDocs should be viewable with simple browsers that don't support the more sophisticated CSS features (e.g. QuickDoc in IDEA).

[2013-05-12 13:02] #10 closed, assigned to Abnaxos

[2013-05-14 16:37] #11 closed, assigned to Abnaxos

[2013-05-15 16:23] #12 closed, assigned to Abnaxos

[2013-05-20 14:02] #9 closed, assigned to Abnaxos

[2013-05-28 14:41] Abnaxos opened #13 "Add CSS rules for tables"
Tables are currently ugly.

[2013-06-05 15:14] Abnaxos opened #14 "Add a {@toc} tag"
For long docs (which are often found in `package-info.java`), it might be useful to provide a `{@toc}` tag that inserts a table of contents.

[2013-07-16 13:58] Abnaxos opened #15 "Upgrade to Pegdown 1.4"
Upgrade to Pegdown 1.4.

[2013-07-29 11:55] Abnaxos opened #16 "Find a solution to use the doclet with Groovy"
It would be nice to be able to generate JavaDocs with the Pegdown doclet also for Groovy classes. Find a way to do that.

[2013-08-23 19:45] astubbs opened #18 "plugin doesn't work with intellij 12 on osx"
As commented on the plugin page: http://plugins.jetbrains.com/plugin/7253?pr=

[2013-08-25 23:54] astubbs opened #21 "Can't reference diagrams defined in other comment blocks"
I had a large diagram defined at the class level, then inserted it into a method comment. Pegdown generated the javadoc as expected, the diagram was shown twice. The intellij idea integration however shows a broken image link in the method.

[2013-11-26 11:27] pron opened #22 "Doclet doesn't support generic type arguments (@param <T>)"
It says `warning - @param argument "T" is not a parameter name.`

[2014-03-16 13:42] ctrimble opened #23 "Escape '@' in code blocks"
When creating a code block, '@' characters should be translated into `{@literal @}`, so they are not interpreted as javadoc tags.

[2014-04-07 10:34] Abnaxos opened #24 "Idea plugin doesn't process @todo text with Pegdown"

[2014-04-28 11:21] Abnaxos opened #25 "Check for compatibility with JavaDoc 1.8"
Check if there are any issues when using the doclet with JavaDoc 1.8 and fix them if needed. Also check whether there are any new features that need special support.

Ensure that the doclet remains compatible with JavaDoc 1.7.

[2014-06-12 11:29] jhawkinsatgood opened #26 "org/parboiled/errors/ParserRuntimeException"
Hi,
I'm completely new to javadocs and am trying to use the pegdown-doclet plugin. When I run javadocs like:
JAVA_HOME=`/usr/libexec/java_home` /Library/Java/JavaVirtualMachines/jdk1.7.0_60.jdk/Contents/Home/bin/javadoc -d javadoc/
  -sourcepath ~/path/to/my/src/
  -doclet ch.raffael.doclets.pegdown.PegdownDoclet
  -docletpath /path/to/download/and/then/pegdown-doclet-master/target/classes/
  com.

[2014-06-12 13:01] #26 closed, assigned to nobody

[2014-07-07 04:46] Miuler opened #27 "Add support for scala"
Add support for scala

[2014-07-23 21:01] arvola opened #28 "Multiple fenced code blocks in one javadoc comment"
If there are two code blocks in one comment, the code block newline handling seems to break. It loses all newlines inside all code blocks. A sample to reproduce this behaviour below; the class comment is broken while the method comment works correctly.

https://gist.github.com/arvola/1117bc597e6efb8e0b0e

[2014-09-10 02:05] OzWolf opened #29 "Overview Page Not Included When Generating For Single Package"
When JavaDoc is generated using the Pegdown Doclet and the only classes being included are from the single package, any included overview page is excluded.

**Usage**

Maven Plugin

**Test Cases**

+ All classes are in the same single package.
+ Classes are in various packages with all but one package in the `excludePackageNames` property.

**Standard JavaDoc Behaviour**

When using the standard J

[2014-12-15 11:37] jik1992 opened #32 "how to work with utf8?"
can i use pegdown-doclet working utf8 no maven?

[2014-12-16 01:52] #32 closed, assigned to nobody

[2015-01-23 02:59] hbf opened #33 "Would you consider changing the license?"
First of all, thanks a lot for this very useful tool; I very much like documenting my code with a modern documentation syntax.

I would like to use the tool but the project I am working on doesn't allow GPL3. I am wondering whether you would be willing to change the license to something else, possibly the Apache license?

From the Github history I see that GPL3 is needed because of _PlantUML_. I q

[2015-01-27 14:36] daschl commented on #22
For what it's worth I'm seeing the same thing.

[code]

docblock looks like

[code]

[2015-01-30 05:41] jfallows commented on #33
+1 :+1:

[2015-01-30 09:23] Abnaxos commented on #33
Well, generally, I'm open for that. I don't like the GPL very much myself, I deem the concept of "forced freedom" contradictory.

However, I don't really see why. The Doclet is a compile-level tool. The virus effect of the GPL does *not* extend to the output of GPLed tools. Like it's perfectly OK to compile and publish closed source code using GCC, it's also perfectly OK to generate the docs for a

[2015-02-03 19:10] achohbee opened #34 "background.gif and other resources missing when running with Java 8"
When running using the Java 8 version of javadoc, the resources/*.gif files are not included. This is presumably because those files are not used by the new Java 8 default stylesheet.

I've worked around this by having a little script in my pom file download the resource files from the Java 7 API website during the build process, but this isn't really ideal.

[2015-03-04 05:34] ddimtirov commented on #33
Some organizations have blanket policies, prohibiting using GPL regardless of the use-case (the claim is that this way they eliminate the risk of inappropriate discretion).

[2015-03-04 07:05] hbf commented on #33
+1

[2015-03-04 07:06] ddimtirov commented on #25
Javadoc for Java 8 does not use images for backgrounds and the supplied CSS produces a mess.

If we use the original Java8 stylesheet, we lose other customizations - i.e. the syntax highlighting options.

[2015-03-10 22:40] udeleng opened #35 "Javadocs task fails when building project"
I cloned the project locally and ran the "clean build" command. I didn't modify any sources.

:clean UP-TO-DATE
:integrations:clean UP-TO-DATE
:integrations:gradle-plugin:clean UP-TO-DATE
:integrations:idea-plugin:clean UP-TO-DATE
:compileJava
:compileGroovy UP-TO-DATE
:processResources
:classes
:jar
:allJar
:javadoc
javadoc: error - Illegal package name: "<a"
javadoc: error - Illegal package name

[2015-03-11 16:23] richard-melvin commented on #22
I have same issue: generic arguments to a _type_ are ok, it's a generic argument to an individual _method_ that gets the warning, Not seen the same thing with the standard doclet.

[2015-04-30 15:36] tsjensen commented on #33
:+1:

[2015-05-13 15:42] Abnaxos commented on #34
Done. Maybe, the CSS files still need some fine-tuning, but generally, it should be OK now.

[2015-05-13 15:42] #34 closed

[2015-05-13 15:44] Abnaxos commented on #29
Actually, that's JavaDoc ignoring overview.md. It does the same when using the Standard doclet: If there's only one package, its description is used instead of overview.html.

[2015-05-13 15:46] Abnaxos commented on #29
Oops, sorry. Well, when *I* tested, it was the same, the issue states otherwise. Will re-check.

[2015-05-13 16:08] Abnaxos commented on #35
Hm. I don't have such issues. Did you use ./gradlew to make sure to be using the right Gradle version? Are you using at least JDK7?

[2015-05-13 16:20] #18 closed

[2015-05-14 11:33] OzWolf commented on #29
I'll run a quick reconfirmation test tomorrow as well.

[2015-05-30 22:41] udeleng commented on #35
I tried again using **gradlew** and the only errors I got were in regards to signing:

*Cannot perform signing task ':integrations:idea-plugin:signArchives' because it has no configured signatory*

Installing the pegdown-doclet plugin jars from the built project I downloaded resulted in some error in the IDEA (the configuration screen did not display in Intellij).

Instead, I was able to install p

[2015-06-09 09:26] simonbasle opened #36 "plugin doesn't render in IntelliJ 14 started with Java 7 on OSX"
While trying to use the plugin in IntelliJ 14.3, I could not make it render Quick Documentation even after the following steps:
 - plugin couldn't load in OSX by default because IntelliJ launches using Java 1.6
 - after setting JRE for IntelliJ to `1.6+` instead of `1.6*`, it launched using the latest installed JRE, which was Java 8 => got 3 `NullPointerException` in the logs
 - I then set Intelli

[2015-06-09 10:36] Abnaxos commented on #36
**Doesn't run on Java6:** That's correct. Java6 has reached its end-of-life a long time ago. I see no reason to support a dead (and dangerous) product, because there's one OS that somehow fails to keep up-to-date.

**NPEs when starting using Java8:** That's interesting. I'm running IDEA 14.1.3 and the plugin with Java8 on Linux without any problems. Are these NPEs really caused by the plugin? Can

[2015-06-09 16:31] simonbasle commented on #36
re-configured to use Java 8 and lo and behold! this time no NPE, the rendering works... (I did uninstall then reinstall the plugin via IntelliJ's plugin browser...)

I won't add to the debate of making this plugin compatible with Java 6 (you're the maintainer after all), but that would have been appreciated (and the blame of having it depend on a EoL version of Java would have ultimately fallen up

[2015-06-17 19:45] roboll opened #37 "1.1.2 release"
any chance you could cut a 1.1.2 release? the java8 support would be great.

[2015-08-20 11:14] jillesvangurp opened #38 "maven hangs for 10+ seconds on exit"
It seems that the doclet has some weird behavior on maven shutdown. Even a mvn clean hangs for more than 10 seconds after it reports build success. The problem goes away after I comment the plugin config in my pom.xml.

[code]

[2015-08-27 19:27] norswap opened #39 "Links (@link) not resolving in IDEA."
Using the IDEA plugin, the links are detected but they are displayed in red in the help tooltip (the one you get by pressing Ctrl + Q) and clicking on them makes an error pop-up.

Here's the red link (the docstring was simply `{@link #main}`):

![](http://puu.sh/jQIJZ/548a14dc67.png)

The error message says "Windows cannot find PATH Make sure you typed the name correctly, and then try again.", whe

[2015-09-17 09:28] slovdahl opened #40 "A list isn't created unless there's an empty line preceding it"
This is the output produced by the code below the picture (using version 1.1.1 of pegdown-doclet):

![Javadoc output](https://cdn.pbrd.co/images/HGW2Xer.png)

[code]

Why is a line break needed before the list? It works fine without a line break on eg. github.

[code]
results in:

Testing
- this is a list
- even more listing

[2015-09-18 08:50] slovdahl commented on #40
I also tested this with updated versions of pegdown and its transitive dependencies (both the official 1.5.0 version and newest git code). Still same problem.

[2015-09-18 13:00] Abnaxos commented on #40
Actually, this isn't supposed to work, see the site that comes closest to a [specification of Markdown](http://daringfireball.net/projects/markdown/syntax). However, both versions shouldn't work. The text of your list items should be indented by 4 spaces. This is how I usually write it:

[code]

Not sure about the empty line before.

Anyway, this is an issue of Pegdown.

I'm surprised that Pegdown

[2015-09-18 13:21] slovdahl commented on #40
I can't find anything about the need for a empty line before a list on http://daringfireball.net/projects/markdown/syntax#list

I'm sorry, I don't understand. Which versions?

Why? It works fine with just one space before the - sign and one after.

I didn't actually compile it with 1.5, I just replaced the dependency (not using pegdown-doclet-all.jar).

[2015-09-30 03:02] #37 closed

[2015-09-30 13:35] koppor opened #43 "[gradle support] gradle plugin not found at jcenter"
I'm trying to follow the process in [README.md of the gradle-plugin](https://github.com/Abnaxos/pegdown-doclet/blob/master/integrations/gradle-plugin/README.md). `gradlew tasks` gives me following output in my project:

[code]

When browsing https://jcenter.bintray.com/ch/raffael/pegdown-doclet/, only `pegdown-doclet/` appears.

[2015-10-01 19:33] jbyler commented on #18
Cross-posting from PR #19:

Looks like we're finally getting close to IntelliJ on Mac OS X with non-Apple Java.  As of 2015-10-01, here is the [support page](https://intellij-support.jetbrains.com/hc/en-us/articles/206827627-IDE-doesn-t-start-after-updating-to-Mac-OS-Yosemite-or-Mavericks) detailing the list of open issues, most of which are fixed now.  Also, the [IDEA 15 preview](http://blog.jetb

[2015-11-02 13:17] InfoSec812 opened #44 "Markdown not being processed in package-info.java files"
I have a Gradle project:

[code]

And inside of *src/main/java/us/juggl/twentyfifteen/november/annotations/* I have a *package-info.java* file for the package level JavaDocs. Pegdown is not processing the markdown in that file, I just see raw text in the generated JavaDocs.

[2015-11-02 13:28] InfoSec812 commented on #44
Update to the above... SOME markdown is being processed. The <h1> header is NOT being processed. See the following example:

[code]

The header at the top is NOT being processed, but the definition below IS being processed.

[2015-11-11 14:08] slovdahl commented on #22
If you think the fix in my pull request is ok I would really appreciate a new release with the fix included. I would really like to avoid building my own version of the pegdown-doclet library. Thanks in advance!

[2015-11-22 17:37] Abnaxos commented on #44
Hm … it worked fine for me. I couldn't imagine why this shouldn't work, anyway.

What about the second h2? Is this one being processed?

[2015-11-22 18:19] Abnaxos commented on #43
Oops. I'll release 1.2 ASAP.

For now, use the following:

[code]

[2015-11-22 18:21] Abnaxos commented on #43
Ooops again. The artifact's name is `pegdown-doclet-gradle-plugin`.

[2015-11-24 11:33] Abnaxos commented on #43
Fixed, 1.2 released. See README: The gradle plugin is now integrated in the main doclet jar:

[code]

[2015-11-24 11:33] #43 closed

[2015-11-25 11:12] slovdahl opened #47 "NPE in IDEA plugin"
I updated the pegdown-doclet plugin to 1.2, and after that I get the following `NullPointerException` when I open settings and choose "Pegdown doclet":

[code]

The javadoc isn't rendered as markdown either, but that wasn't the case before the update either.

[2015-11-25 11:46] Abnaxos commented on #47
Ooops. Please clone the current repo and build it:

[code]

The plugin jar will be built in `/path/to/doclet-repo/integrations/idea/target/libs/pegdown-doclet-idea-plugin-1.2.1-SNAPSHOT.jar`. Copy that file to your `~/.IdeaIC15/config/plugins` and remove v1.2 from there. You can also try using "Install plugin from disk".

Please report if this fixed it (it should), I'll submit the new Jar.

[2015-11-25 12:03] slovdahl commented on #47
Thanks, it works!

By the way, I have to uncomment `apply plugin:OSSRH` in `doclet/build.gradle` to be able to build the project, otherwise it fails with:

[code]

[2015-11-25 12:44] Abnaxos commented on #47
New jar submitted to JetBrains.

[2015-11-25 12:44] #47 closed

[2015-11-30 11:49] slovdahl opened #48 "Exception with IDEA plugin"
I'm not really sure what happened and I'm unable to reproduce it, but I got this from IntelliJ when I closed a file:
[code]

[2015-12-01 10:08] simonbasle commented on #48
can confirm I see that as well since I upgraded to the latest version of the plugin (version `1.2.1`) in IntelliJ 14.1.5

[2015-12-01 13:37] Abnaxos commented on #44
I've added a test that demonstrates that your example works – to a certain extent. The documentation is rendered fine in the full package documentation. However, the summary doesn't look nice. It seems that Javadoc just took the whole text until the first '.' as first sentence and removed all Tags from it. The result is the following summary:

Looking at the source code, the `</h1>` tag should hav

[2015-12-01 14:38] Abnaxos commented on #48
I've seen it, too. Can't tell (yet), when and why it happens, though. It doesn't seem to be breaking anything, but plugins throwing exceptions are always annoying. :(

[2015-12-08 03:49] gherson commented on #26
Couldn't shake that NoClassDefFoundError from IntelliJ's Generate Javadoc tool until, under its "Other command line arguments", I concatenated all the filespecs of the needed jars:
-doclet ch.raffael.doclets.pegdown.PegdownDoclet -docletpath C:/Users/me/Practice/lib/pegdown-doclet-1.2.1.jar;C:/Users/me/Practice/lib/parboiled-core-1.1.5.jar;C:/Users/me/Practice/lib/parboiled-java-1.1.5.jar;C:/Users

[2015-12-08 20:54] gherson opened #49 ".jar file"
README.md has under section **Invoking**:
`javadoc -doclet ch.raffael.doclets.pegdown.PegdownDoclet -docletpath /path/to/pegdown-doclet-1.1-all.jar`

When I download pegdown-doclet by clicking the Download ZIP [button](https://github.com/Abnaxos/pegdown-doclet/archive/master.zip), however, I don't see a pegdown-doclet-1.1-all.jar (or other .jar) file.  Why?  Why no other installation instructions?

[2015-12-09 01:33] fredgirl77 commented on #35
I've also experienced both issues listed here: the javadoc task failing, and the "cannot perform signing task" error. I'm using JDK8. If there's any extra info that would help with debugging, let me know.

[2015-12-09 10:23] Abnaxos commented on #49
The *Download ZIP* button you specified is a link to download the source code from GitHub as ZIP archive, not the binaries. The binaries are located in the Maven repository.

I've updated the README accordingly.

[2015-12-09 10:23] #49 closed

[2015-12-25 07:23] ddimtirov opened #51 "Support @ditaa and @dot sections"
Would be nice to be able to use ditaa and dot notation as described here: http://plantuml.com/ditaa.html

[2016-01-27 13:12] aeracode commented on #39
:+1:

[2016-01-27 16:03] Abnaxos commented on #39
I had this issue before, however, I noticed that the same thing happens with plain HTML JavaDocs, so I put this away as a general issue of IDEA's QuickDoc. Basically, all the doclet does is to convert the Markdown to HTML before feeding it to the default IDEA QuickDoc code, the `{@link …}` tag stays untouched. So, *theoretically*, this doesn't have anything to do with the plugin, which I could con

[2016-01-28 13:05] norswap commented on #39
The plain version worked when I posted the issue, and still does.

I just gave it another spin, this time on OSX, and the link still shows up in red with the pegdown-doclet plugin, but is not clickable. I will try it on Windows later and report.

It's crazy they that JetBrains doesn't support custom doclets in the editor.

[2016-01-29 21:27] norswap commented on #39
Yup, same situation on Windows (link in red, not clickable).

[2016-03-04 09:38] andreashe commented on #44
For me it also does not work. Nothing interpretet. Even not your example. It keeps the raw text.

[2016-03-04 09:49] andreashe commented on #44
I determined, that it works only if the package has a class! If it is empty, it does not process!

[2016-03-16 16:18] HaasJona commented on #39
Same behaviour on Linux using Idea 2016.1 RC1, disabling the plug-in fixes the issue, so it's not an IDEA bug.

[2016-03-17 11:07] HaasJona opened #52 "Assertion failed at PsiParameterListImpl.getParameterIndex at PegdownDocumentationProvider.generateDoc"
[code]

running IntelliJ Idea 2016.1 RC1

[2016-03-23 11:31] lorenzos opened #53 "Not working in methods in Android Studio 1.5.1"
Strange thing, Pegdown works perfectly for classes and fields docs, but not for methods. No exceptions seems to be thrown. Demonstration:

![byzanz-record](https://cloud.githubusercontent.com/assets/245615/13983927/35ae8cfa-f0f3-11e5-8095-1f0f7bea7fca.gif)

If it looks related to Android Studio to you, I'll file a new issue [here](https://code.google.com/p/android/issues/entry?template=Tools%20bug

[2016-03-30 15:11] Abnaxos commented on #44
@InfoSec812 This is actually documented behaviour: [Option `-breakiterator`](http://docs.oracle.com/javase/8/docs/technotes/tools/unix/javadoc.html#CHDHHIDI)

Invoking with `javadoc -locale en` fixes the issue by forcing the internal sentence breaker which also recognises HTML tags.

If the locale is not set to 'en' (or using a locale specific sentence breaker is forced by `-breakiterator`), JavaD

[2016-03-30 15:11] #44 closed

[2016-03-30 15:26] Abnaxos commented on #53
I'll have to check the whole `DocumentationProvider` thing for compatibility, there are also other issues reported to that. This also uses classes from `idea.jar`, so it basically uses internal classes that shouldn't be used by plugins, as far as I can understand it.

It's absolutely possible that this is an issue of Android Studio, but I can't really be sure of it. This plugin is a hack …

[2016-03-30 16:18] #15 closed

[2016-03-30 16:37] lorenzos commented on #53
I just tried downloading the latest version of IntelliJ (no Android Studio), and the Pegdown plugin, after installing it, works flawlessly also on methods.

Version of Pegdown is 1.2.1 on both.

I'll file the issue for Android Studio as soon as possible if you think it's the best thing to do.

[2016-04-01 13:18] HaasJona commented on #52
Also happening in latest Idea 2016.1
[code]

[2016-04-03 07:39] Abnaxos commented on #52
To reproduce: Ctrl-Q on a parameter.

[2016-04-03 07:43] Abnaxos commented on #36
I think I can close this. For the link problem: See #39.

[2016-04-03 07:43] #36 closed

[2016-04-03 16:24] RAnders00 commented on #48
Maybe it's related to decompiled classes? I just got this exception whilst viewing the decompiled class `sun.awt.X11.XToolkit` from the JDK.

[2016-04-03 16:31] RAnders00 commented on #35
The "cannot sign" error is perfectly normal. Developers create signatures of their artifacts with their private keys so you can verify that they are indeed from the original author and not from some untrusted source. Because you are not the original developer, you are not provided the private key that is needed to create the signatures, so this message is normal and expected.

Apart from that, it

[2016-04-13 13:53] aeracode commented on #53
Experienced same issue, but now It works in Android Studio 2.0

[2016-04-20 08:17] lorenzos commented on #53
Can confirm it works on Android Studio 2.0. I think this can be closed, 'cause 2.0 came out of beta this month.

[2016-04-21 14:55] #53 closed

[2016-05-20 13:45] Abnaxos commented on #39
Fixed in 1.3-0 (ce2bf5b).

[2016-05-20 13:45] #39 closed

[2016-05-20 13:52] Abnaxos commented on #35
I fixed this a long time ago in 1e4b464 :)

The signing task gets disabled if we're not going to upload them to OSSRH.

[2016-05-20 13:52] #35 closed

[2016-05-20 13:59] Abnaxos commented on #33
GPL it is.

It's a compile-level tool. As such, the GPL neither affects the license of the input nor the license of the output. That way I'm sure not to clash with PlantUML's GPL (which – BTW – is also a compile-level tool).

Its perfectly legal to use it for documenting commercial or otherwise closed-source code with a proprietary license.

[2016-05-20 13:59] #33 closed

[2016-05-20 14:02] #24 closed

[2016-05-20 14:04] #22 closed

[2016-05-20 14:05] #25 closed

[2016-05-20 14:20] Abnaxos commented on #40
Well, the markdown "specification" isn't really a specification, it's more like a guideline. The doclet uses Pegdown's output.

Please report to the Pegdown project: https://github.com/sirthias/pegdown

[2016-05-20 14:20] #40 closed

[2016-05-20 18:35] nedtwigg opened #54 "Gradle plugin portal"
It would be awesome if this made it to the [gradle plugin portal](https://plugins.gradle.org/docs/submit).

[2016-05-22 00:05] hrstoyanov opened #55 "1.2 does not work"
I am new to this doclet. I followed the documentation and put just this in my Gradle build file:
[code]
... and the generated javadocs show that it is not kicking in.
I see other people do configurations and additional settings. Is this really necessary?

[2016-05-22 00:17] hrstoyanov commented on #55
Well .. what is the latest version actually? Is it 1.2 as the README.md says?

[2016-05-22 06:43] Abnaxos commented on #55
1.3 is the latest version, actually. Try that first (or 1.2.1).

The Gradle plugin only covers the most simple cases and doing it manually isn't complicated neither (see the configuration for Maven, just set the doclet in the Javadoc configuration).

I'll look into it if it doesn't work with a newer version.

[2016-05-22 15:27] hrstoyanov commented on #55
Please fix the home page then . Yesterday it showed the cradle example with
1.2 which is the reason I had issues. With 1.3 it seems to work. Thanks

/Hristo Stoyanov
On May 21, 2016 11:43 PM, "Raffael Herzog" <notifications@github.com> wrote:

[2016-05-23 18:27] hrstoyanov commented on #54
I second that! This would lead to even more compact code, basically just this:

[code]

See:
 https://plugins.gradle.org/docs/submit
 http://gradle.org/blog/new-gradle-plugin-portal/

[2016-05-25 08:46] HaasJona opened #56 "Error creating Javadoc"
When processing my Java code with Pegdown, for one project I get the following exception and the generated documentation is incomplete (index files missing):

[code]

Happens in 1.2.1 and 1.3

[2016-05-25 09:08] HaasJona commented on #56
Ignore this, also happens with default javadoc doclet

[2016-05-25 09:08] #56 closed

[2016-06-02 09:41] nedtwigg opened #57 "Example text that which hangs"
This is an extreme case, so closing this without further investigation is totally valid :)

The following text _[A]_, when placed in a `package-info.java` file, will cause pegdown doclet to fail with:

[code]

But the twice as large text _[B]_ (which has the same beginning, but is a little longer) will cause the pegdown doclet to hang forever (or at least 10 minutes).

I was able to get it to pass

[2016-06-02 17:59] loddar opened #58 "Gist inline taglet {@gist <gist-id>}"
It would be nice to include a gist inline tag in (javadoc).

Instead of including
[code]

(This is working with your doclet, but you need access to Github)

It would be nicer to have something like this which will be loaded from Github and included in generated javadoc.

[code]

While applying javadoc your doclet should read the Gist from this URI: `https://api.github.com/gists/4ae8e534d7647d765b9

[2016-06-03 14:33] wherget commented on #23
I just ran into this as well. What's the current best practice for code examples that involve annotations? (He asks, slightly hoping for something other than "Don't write them.")

[2016-06-03 14:54] loddar opened #59 "IDEA plugin fails"
I'm using

    IntelliJ IDEA 2016.1.2
    Build #IU-145.972, built on May 14, 2016
    JRE: 1.8.0_76-release-b162 x86_64
    JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

See stack trace:

[code]

[2016-06-03 16:54] Abnaxos commented on #59
Hm. This might be a duplicate of #52. Then again, the failed assertion is the same, but the stack trace is quite different.

Try e75ea23, it should fix #52 and might therefore also fix this. However, I'm still unsure what it breaks. :/ You can build it yourself or use the build I'm currently working with: https://www.dropbox.com/s/17gzqdlu0zd285k/pegdown-doclet-idea-plugin-1.3-1-SNAPSHOT.jar?dl=0

[2016-06-03 17:00] Abnaxos commented on #57
That's probably an issue with [Pegdown](https://github.com/sirthias/pegdown).

1. It's known that Pegdown may hang in certain situations. That's what the parse timeout is for.
2. Why didn't it timeout?

I'll have a look at it.

[2016-06-03 17:07] Abnaxos commented on #23
Currently, you'll still have to escape them manually: Use the HTML entity or, a bit more readable: Use `{@literal @}`.

Not, however, that if I find a proper solution to this, you might end up with code samples that contain a literal `{@literal @}`.

[2016-06-03 17:18] loddar commented on #59
Hello Raffael,

I'm working on your doclet. I like to contribute the gist taglet.

I'll dropped the idea-plugin module, because IDEA was all the time
complaining.

May be this causes the error. I'll don't know.

Kind regards

Marko

P.S.: I created a branch

Am 03.06.16 um 18:54 schrieb Raffael Herzog:

[2016-06-04 08:41] Abnaxos commented on #59
Create a file `local.properties` in the project's root with the following contents:

[code]

This will add the IDEA Jars to the compile classpath. But if you're not working on the IDEA plugin, removing the module is a viable option. Just take care you don't commit this.

[2016-06-04 09:07] loddar commented on #59
Hi Raffael,

Ah. that's the trick ;-)

I'll dropped it only from IDEA project and changes the .gitignore file.

By the way. You don't support `{@value MyClass#ANY_CONSTANT}`. I've made some research on the origin javadoc Doclet implementation. That's quite a hack. To integrate this or to implement this by yourself is not an trivial task.

So I've a suggestion: What's about to integrate the origin

[2016-06-07 09:32] nenick opened #61 "Unexpected spacing in code block when using {@literal @}"
When I use `{@literal @}` to including @ symbols in code blocks then the line starts with one space to much.

Sample snippet:

[code]

Expected result:

[code]

But result has one space to much at each @ symbol.

[code]

For `@Rule` I can remove one space and then it looks correct but at `@RunWith` this workaround does not work.

[2016-06-22 08:21] loddar commented on #59
Ok. Got the same issue again and again (even with your dropbox version). But now I can tell you when it happens:

If you extend a argument list, for example

anyMethod(val1, val2, _cursor is here_)

IDEA gives you some suggestions and for each suggestion it generates javadoc. So if will also suggest local variables and parameters. And these have of course no javadoc.

See the attachment
![idea-plu

[2016-06-22 09:05] loddar commented on #61
This not specific to Pegdown-Doclet. You will got the same, if you use the standard doclet.

You can close this issue.

[2016-06-24 12:54] HaasJona opened #62 "Exception in IDEA plugin with JDK9"
[code]

[2016-06-28 16:39] richard-melvin opened #63 "css validation error in stylesheet"
The stylesheet.css generated by the doclet ends with :

[code]

which is obviously illegal css comment syntax. This gets reported as a problem by Eclipse for projects using the doclet, because it is pretty eager about doing css validation (sometimes even of generated files).

The error is present in the source file src/main/resources/ch/raffael/doclets/pegdown/stylesheet.8.css.

[2016-07-01 09:22] loddar commented on #59
I got a new error message from the IDEA plugin

[code]

[2016-07-04 07:52] loddar commented on #61
By the way: My pull request (see #64) will solve this issue.

[2016-07-11 09:23] greenlaw110 opened #65 "How to type in "@" symbol in Intellij IDEA"
The following code doesn't work:

[code]

It gives out:
![image](https://cloud.githubusercontent.com/assets/216930/16725796/4d5aeb5a-479c-11e6-8d88-b2dc98a83cc7.png)

Neither these are working:
[code]

It produces:
![image](https://cloud.githubusercontent.com/assets/216930/16725850/9cbd7730-479c-11e6-88bc-c22f0b427493.png)

Or this way:

[code]

Which omit the `@` in the rendered result:
![image](

[2016-07-11 09:26] greenlaw110 commented on #65
In the end I have to fall back to normal JavaDoc:

[code]

Which produce the result I needed:

![image](https://cloud.githubusercontent.com/assets/216930/16725994/50d3e394-479d-11e6-9104-50fa56448081.png)

[2016-07-12 08:12] loddar commented on #65
The problem is that markdown handles `&#64;` different when it's part of a (markdown) code block. Outside of a code block it's printed as '@'.

I've fixed this. So may be in the future version, you type only @ - that's it. The only necessary step is that Raffael ( @Abnaxos ) merge the pull request #64- funny, my pull request has the same number like the @ symbol ;-).

See the detailed description

[2016-07-12 08:20] loddar commented on #58
I've implemented it and bit more. Please merge pull request #64 .

Thx Marko

[2016-08-03 05:35] k3b opened #66 "@startuml does not work for all types of diagrams"
when i embed diagrams with @startuml .. @enduml only sequence diagrams are shown (sometimes)

when i process this test-javadoc
note: i get the same results when i add the missing " * "

<pre>
/**
 * ![sequenceDiagram3 Diagram](sequenceDiagram3.png)
 *
 * ![sequenceDiagram2 Diagram](sequenceDiagram2.png)
 *
 * ![objectDiagram Diagram](objectDiagram.png)
 *
 * ![classDiagram Diagram](classDiagram.pn

[2016-08-05 09:10] k3b commented on #66
Graphviz installation program did not set the windows environment variable "GRAPHVIZ_DOT"

after setting

* GRAPHVIZ_DOT=C:\Program Files (x86)\sdk\Graphviz2.38\bin\dot.exe

all worked as expected

[2016-08-05 09:10] #66 closed

[2016-08-10 08:09] Shredder121 commented on #7
Just a question, I mainly want to use these wiki-style links for _external_ links.

I don't recall `{@link }`s working for links to other than source, right?
So my question is, do you still plan to support that then?

[2016-08-12 17:03] sammefford opened #67 "How can I get borders on my tables?"
Also, how can I get my table cells to align top vertically?

[2016-08-12 17:32] sammefford opened #68 "How can I add newlines between sections?"
Right now my header lines are too close to the section above them.  I'd like to add space between the sections without resorting to html tags.  Could the parser do something like give me a <br/> for each blank line in my markdown?

[2016-08-15 13:23] urosjarc opened #69 "Register plugin to https://plugins.gradle.org/"
It would be nice that you register this plugin on https://plugins.gradle.org/.
So that you can use this plugin with plugins block (gradle) like so...

[code]

[2016-09-19 22:11] greenlaw110 opened #70 "Error: "Illegal group reference""
I am building my [project](https://github.com/actframework/actframework) and encountered the following error:

[code]

Any idea?

[2016-09-19 22:49] greenlaw110 commented on #70
never mind, it is triggered by javadoc of one of my java source code. I've smashed it although I don't know which part exactly caused the trouble.

[2016-09-19 22:49] #70 closed

[2016-09-20 10:07] ddimtirov commented on #69
Duplicates https://github.com/Abnaxos/pegdown-doclet/issues/54

[2016-09-22 15:44] lorenzos opened #71 "Random crashes on Android Studio 2.2"
The plugin started throwing exceptions after Android Studio 2.2 update, which includes all the latest updates from **IntelliJ 2016.1**.

I can't say what's the cause, the crashes looks random and occurs something like every 5/10 minutes while I'm coding. They not crash the IDE, but an exception is reported in the **Event Log**:

[code]

[2016-09-22 18:42] plamentotev commented on #23
What about something like this:

     /**
      * A simple javadoc comment.
      *
      * ```java
      . @annotation
      . public void method() {
      .
      . }
      * ```
      */

This would avoid the problem with the `@` character - because it's not the first symbol on the line it's no longer parsed as tag. And we only need to instruct pegdown to strip the leading dots in code fence bl

[2016-10-19 07:27] hadix-lin opened #72 "Assertion failed"
Assertion failed
java.lang.Throwable
    at com.intellij.openapi.diagnostic.Logger.assertTrue(Logger.java:156)
    at com.intellij.openapi.diagnostic.Logger.assertTrue(Logger.java:165)
    at com.intellij.psi.impl.source.PsiParameterListImpl.getParameterIndex(PsiParameterListImpl.java:50)
    at com.intellij.psi.util.PsiFormatUtil.getExternalName(PsiFormatUtil.java:453)
    at com.intellij.codeIns

[2016-12-05 15:25] Skamandros commented on #72
I'm receiving this exception too from time to time. However, I wasn't able to determine when exactly it is thrown and it doesn't seem to cause any limited functionality, but I'll try to keep an eye on it.

[2016-12-19 06:40] slovdahl commented on #52
Would you mind publishing a new version of the plugin with this bug fix included?

[2017-01-07 11:56] Abnaxos commented on #52
Sorry, completely forgot releasing it. Done now.

[2017-01-07 11:56] #52 closed

[2017-01-08 09:57] Abnaxos commented on #72
Duplicate of #52.

[2017-01-08 09:57] #72 closed

[2017-01-08 09:57] Abnaxos commented on #71
Duplicate of #52.

[2017-01-08 09:57] #71 closed

[2017-01-11 18:20] tombensve commented on #23
I just tried {@literal @} but that generates a space before the @ which makes the code block look strange when the annotation is indented:

[code]

[2017-01-22 19:38] Abnaxos opened #74 "Argument for @NotNull parameter 'file' of com/intellij/openapi/roots/impl/ProjectFileIndexImpl.getModuleForFile must not be null"
See the last few comments of #59.

[2017-02-10 10:11] llodgob commented on #67
I would have the same questions. Alternative, how I can I specify or add my own stylesheet to do that?

[2017-02-10 10:13] llodgob commented on #13
How is the status on this? Are we able to provide our own stylesheets for the markdown tables?
It might make sense to give a markdown table an own class, in case tables are used by javadoc itself or by other doclets.

[2017-02-27 07:39] jcayzac commented on #29
I can also reproduce this from gradle. When I add an `exclude` rule, the overview file is not used in the generated html.

[2017-03-07 16:29] HaasJona opened #76 "pegdown is slow and isn't supported anymore"
maybe change the markdown parser to https://github.com/vsch/flexmark-java

[2017-03-07 20:14] Abnaxos commented on #76
Yep, that's planned.

[2017-03-27 08:58] Abnaxos opened #77 "Detect MDT taglets using service lookup instead of explicit declaration on the CLI"
Read taglet classes from `META-INF/services/ch.raffael.doclets.pegdown.mdtaglet.MarkdownTaglet`.

Also consider moving GistMarkdownTaglets to a external module.

[2017-03-27 09:03] Abnaxos opened #78 "GistTaglet creates a directory ~/cache"
Ugly! Use

- %APPDATA% on Windows
- $XDG_CACHE_HOME (default to ~/.cache) on UNIX [see XDG spec](https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html)
- Mac?

Provide a chache/config location to doclets from the doclet's API.

[2017-03-27 09:07] Abnaxos opened #79 "Rename to MarkdownDoclet"
Pegdown is deprecated. Rename the doclet to MarkdownDoclet (package ch.raffael.mddoclet). See also #76.

[2017-03-28 09:22] dautelle commented on #23
Best solution I found: Use an invisible whitespace character in front of the @ (http://www.somebits.com/weblog/tech/zero-width-space.html)

[2017-03-28 17:19] Abnaxos commented on #23
The solution coming up (it's in master) is using '.'. It's not "escapeless", because that is not possible: It must also work with IDEs and any IDE will stumble on this. Javadoc specfies that an '@' at the beginning of a line introduces the tag block, full stop.

To be more specific:

    .@MyAnnotation

will then render as

    @MyAnnotation // no additional space, really

If you really mean ".@",

[2017-04-07 11:18] pauxus commented on #79
Isn't that fixed by af97ade7e7bee55106e8ed5989c53f1025405b02? Also, any chance of you doing a prerelease of 1.4? With the new coordinates and especially the fixes provided by @loddar ?

[2017-05-08 05:07] holysky5 opened #80 "Argument for @NotNull parameter 'file' of com/intellij/openapi/roots/impl/ProjectFileIndexImpl.getModuleForFile must not be null"
Argument for @NotNull parameter 'file' of com/intellij/openapi/roots/impl/ProjectFileIndexImpl.getModuleForFile must not be null
java.lang.IllegalArgumentException: Argument for @NotNull parameter 'file' of com/intellij/openapi/roots/impl/ProjectFileIndexImpl.getModuleForFile must not be null
	at com.intellij.openapi.roots.impl.ProjectFileIndexImpl.getModuleForFile(ProjectFileIndexImpl.java)
	at c

[2017-07-27 04:51] cjahv opened #81 "May I ask how to run gradle task?"
I added it:
![image](https://user-images.githubusercontent.com/15372793/28654815-cc27cf26-72c9-11e7-8aa0-3fefac894a72.png)

But did not find a new task
[code]

How should i use it?

[2017-07-28 17:36] Abnaxos commented on #81
The plugin doesn't create a new task. It just changes all existing JavaDoc tasks to use the markdown doclet.

[2017-07-28 17:36] #81 closed

[2017-08-04 08:34] SHenckel opened #82 "Plugin Crashes in IntelliJ "Cannot fetch remote documentation: internal error""
This happens when I install the plugin and enable it for the project, then open javadoc quickviewer in the project.

This is the logfile entry:

2017-08-04 10:26:21,136 [ 850482]   INFO - mentation.DocumentationManager -
java.lang.NullPointerException
	at ch.raffael.mddoclet.MarkdownDoclet.printError(MarkdownDoclet.java:451)
	at ch.raffael.mddoclet.mdtaglet.MarkdownTaglets$ErrorHandlerImpl.afterOp

[2017-08-07 12:22] Abnaxos commented on #79
Sorry, yeah, it was fixed then. In master, but no release.

Now, I still have to do an update of the old IDEA that shows a bubble message that tells people to install the new plugin. It's getting a bit too late for that, too, though.

In case you didn't notice, 1.4 is released now.

[2017-09-07 10:16] holysky5 commented on #82
+1

[2017-09-10 00:36] greenlaw110 commented on #70
Two years later I've got the same issue and happened to read my own issue report. Just to document what happened this time for future reference:

The issue is caused by using `{@link $...}` in the javadoc. Where `$` is a class name. Somehow Markdown doclet is not able to handle that pattern.

Here is how to debug this kind of error:

1. run `mvn javadoc:javadoc` to generate required javadoc script

[2017-10-16 17:03] matozoid opened #83 "Javadoc link broken"
README says "The JavaDoc output by this Doclet for this Doclet can be found here." - but the link for "here" is broken.

[2017-10-16 17:08] matozoid commented on #79
The README links to the intellij pegdown plugin, I guess you want to update that too?

[2017-10-18 10:36] #83 closed

[2017-10-18 10:51] Abnaxos commented on #79
Thanks.

[2017-10-18 10:52] #79 closed

[2017-11-10 08:51] Abnaxos opened #84 "JDK9 support, port to new doclet API"
JDK9 introduced a new doclet API. First research showed, that the MarkdownDoclet is still doable with the new API. It even looks like it actually makes things easier. I just took a quick look, but it looks good.

I even found the following statement in https://docs.oracle.com/javase/9/docs/specs/doc-comment-spec.html:

I don't remember having read such a thing before, I thought what MDDoclet does

[2017-11-10 08:56] Abnaxos opened #85 "Major refactoring"
The doclet was originally a quick'n'dirty hack. This is still visible and should be fixed. We also need to split up the project a bit more:

 *  *core* or *engine*
 *  *doclet-legacy* and *doclet9* (or similar)
 *  integrations, using *core*/*engine* only

This also should address the following issues: #78, #76, #77 (?)

[2018-04-12 05:41] slovdahl opened #87 "Exception from IDEA plugin"
Using IntelliJ IDEA 2018.1.1 (Ultimate Edition), plugin version 1.4-0. I'm a little bit unsure what I did to trigger the exception. Might have been when I triggered "Reformat Code".

[code]

[2018-05-09 00:04] iolo commented on #54
two years have passed. any progress?

[2018-09-21 03:08] chitayta commented on #82
I faced the same issue with @SHenckel. Is there any update and solution for this issue?

[2018-10-11 08:39] perlun commented on #84
@Abnaxos Java 10 and 11 have both been released as of now. :smile: Do you have any idea about when you anticipate for this issue to be fixed?

(I noted this when trying to build our javadocs locally. We are still using Java 8 on our CI server, but I am running Java 11 locally for most of my development.)

[2018-10-11 20:23] mhsmith opened #88 "Packages missing from repositories"
`markdown-doclet:1.4` does not work with `mavenCentral()`, because [that version is not in that repository](https://repo.maven.apache.org/maven2/ch/raffael/pegdown-doclet/pegdown-doclet/).

Neither `markdown-doclet:1.4` nor `markdown-doclet:1.3` works with `jcenter()`, because [pegdown version 1.6.0 is not in that repository](https://jcenter.bintray.com/org/pegdown/pegdown/). I think this has just

[2018-11-08 11:17] pieterbos commented on #84
With JDK10, this doclet no longer works due to the old API still being used, at least not when the -d option is used by the gradle plugin.

[2019-01-29 19:50] ericwork2008 commented on #82
same issue

[2019-02-02 09:05] richard-melvin commented on #88
Have you tried [here](https://repo.maven.apache.org/maven2/ch/raffael/markdown-doclet/markdown-doclet)?

[2019-02-02 11:46] mhsmith commented on #88
Thanks, for some reason I didn't realize the project had been renamed. I mixed up the two names in my original report: I was actually working around it by using `pegdown-doclet:1.3`, not `markdown-doclet`.

However, there is still a problem. With `mavenCentral()` and `markdown-doclet:1.4`, I get the following error.

[code]

If I use `jcenter()` instead, then it works fine. Maybe the documentation

[2019-02-15 17:55] manuel-mauky commented on #88
I have the same problem and for me it only works if I add both `jcenter()` **and** `mavenCentral()`.
To test this I'm forcing gradle to download the dependencies with `./gradlew build --refresh-dependencies`. I have no idea why.

[2019-02-17 23:05] ORESoftware opened #89 "Error when running mvn javadoc:javadoc"
I get this error when running `mvn javadoc:javadoc`:

[code]

here is my pom.xml file:

[code]

[2019-02-27 15:50] manuel-mauky commented on #84
Is there any workaround to use this doclet with gradle and JDK 11+?

[2019-07-25 17:29] sgrimm-sg commented on #84
This causes the IntelliJ plugin to stop working in IntelliJ 2019.2 which uses Java 11, and just having the plugin installed causes failures in IntelliJ's documentation viewer.

[2019-08-01 14:30] tsjensen commented on #29
For me, when I add
[code]
the overview page is included in the output, but the markdown is not processed. 😒

[2019-08-28 14:55] tsjensen commented on #84
@Abnaxos Please advise.

As it stands today, we will have to migrate our teams away from your plugin for Java 11. 😢

[2020-05-24 08:06] hopefullToo opened #90 "Exception loading Plugin(1.4.0) in Intellij IDEA Ultimate 2020.1"
Hello,

after I raelized that I could not see the Quick Documentation for my doclet comment I tried to check the markdown-doclet configuration. This generated the following exception:

java.lang.NoSuchFieldError: Module
	at ch.raffael.mddoclet.integrations.idea.MarkdownDocletOptionsForm$CellRenderer.<init>(MarkdownDocletOptionsForm.java:292)
	at ch.raffael.mddoclet.integrations.idea.MarkdownDoclet

[2020-05-24 08:40] hopefullToo commented on #90
It works after I installed PlantUML framework.

[2020-05-24 08:40] #90 closed, assigned to nobody

[2020-05-24 14:46] mhsmith opened #91 "Deprecation warning: "markdownDoclet was resolved without accessing the project in a safe manner""
I'm using this version of the markdown-doclet Gradle plugin:

[code]

My build has two projects, but I only apply the plugin in one of them, which is called "runtime".

When I use Gradle 6.1.1 with the options "--warning-mode all --stacktrace", I receive the following warning:

[code]

[2020-06-24 15:56] Rea2 commented on #67
I faced the same issue:
Standard CSS file has issues with them.
I solved it:
- copied stylesheet.8.css from markdown-doclet-1.4.jar
- added at the end of the file
[code]
I am not good at CSS, but it works :)
}

- added tag **<stylesheetfile** with to updated css file to the plugin configuration:
[code]

[2020-07-02 07:56] perlun commented on #84
@Abnaxos We are interested in seeing this resolved, and might be able to put some hours into it, to eventually move away from Java 8 for our Javadoc generation. Would you be willing to accept pull requests fixing this to work on Java 9+?

[2020-08-27 13:37] eamell commented on #82
Same issue with 2020.2.1

[2020-09-03 02:06] blague commented on #82
+1

[2020-10-22 17:28] LeonMarino1 commented on #82
Must be the problem that IntelliJ does not have tools.jar in the classpath, but after that still is not working with no further information from IntelliJ.

[2021-01-21 15:46] kgharibyan opened #94 "Exception in plugin Pagdown Doclet for IDEA 2020.3.2 RC"
java.lang.NoClassDefFoundError: com/sun/javadoc/SeeTag
	at ch.raffael.doclets.pegdown.integrations.idea.PegdownDocumentationProvider.generateDoc(PegdownDocumentationProvider.java:127)
	at com.intellij.lang.java.JavaDocumentationProvider.generateHoverDoc(JavaDocumentationProvider.java:580)
	at com.intellij.lang.documentation.CompositeDocumentationProvider.generateHoverDoc(CompositeDocumentationProv

[2021-03-11 13:12] marco-brandizi commented on #84
@Abnaxos, any news on this? Is this project still maintained? I see commits in 2018 that mention the migration to the new Doclet library, but there is no Maven-accessible release and I get errors when I try to build the snapshot for this project (with the provided gradlew).

Thanks in advance for any help.

[2021-03-21 07:37] Abnaxos commented on #84
Unfortunately, I have to be realistic and say no, it isn't maintained anymore. The reason is this issue right here. It requires a complete rewrite of everything, the new API has absolutely nothing in common with the old one. Therefore, I stopped using it myself, because I of course also moved on to Java 11 and later, without having time to rewrite the markdown doclet.

I may pick it up at some poi

[2021-03-21 13:41] tsjensen commented on #84
Thanks for telling us straight @Abnaxos. Let's hope someone picks up the ball!

[2021-03-21 16:17] mnlipp commented on #84
I forked this project some time ago, initially in order to be able to switch markdown processors.

I'm still using markdown for my comments. As Java 8 is slowly phasing out, and I don't want to keep up Java 8 compatibility only for generating the documentation, I have rewritten the doclet. This turned out to be a complete rewrite indeed, as @Abnaxos has already observed.

I haven't re-integrated s

[2021-03-21 22:46] marco-brandizi commented on #84
Thank you so much, @mnlipp (and @Abnaxos too for the work done before)! I'll try that next days.

[2021-03-28 05:35] mnlipp commented on #84
I have released jdk9-API based [mdoclet 2.0.0](https://github.com/mnlipp/jdrupes-mdoclet) and [PlantUML taglet 2.0.0](https://github.com/mnlipp/jdrupes-taglets).

A somewhat larger project using both can be found [here](https://mnlipp.github.io/jgrapes/javadoc-webconsole/index.html).

[2021-03-28 11:01] marco-brandizi commented on #84
Your documentation says:

*Maven. Still using this? Well, you’re on your own…*

I've tried to fit into Maven, doesn't work:

```[ERROR] java.lang.ClassCastException: class org.jdrupes.mdoclet.DocCommentTreeWrapper cannot be cast to class com.sun.tools.javac.tree.DCTree$DCDocComment (org.jdrupes.mdoclet.DocCommentTreeWrapper is in unnamed module of loader java.net.URLClassLoader @91161c7; com.sun.t

[2021-03-28 11:33] mnlipp commented on #84
Which means that maven didn't start javadoc in a new JVM with `jdk.javadoc/jdk.javadoc.internal.tool` exported to unnamed modules. There isn't any other solution because the standard doclet makes every attempt to prevent any "extensions" (including not properly using the API) -- don't ask me why. (E.g. the `StandardDoclet` class is nothing but a wrapper designed to make it impossible to use the `H

[2021-03-28 21:13] marco-brandizi commented on #84
Unfortunately, that's not the case, I set it with [JAVA_TOOL_OPTIONS](https://docs.oracle.com/javase/8/docs/technotes/guides/troubleshoot/envvars002.html), the JVM never misses this.

I could figure out how to invoke the Javadoc tool on my own. The problem is it doesn't work and I've to accept that you don't want to support a build used by tons of projects and developers. Maybe one day I'll find t

[2021-03-31 08:18] perlun commented on #84
@marco-brandizi

Are you 100% sure this option actually works in this case? The link you refer to specifically mentions that the JVM _does indeed_ ignore this option in some cases:

----

As for the "Maven vs Gradle" debate, there are probably good points for using both tools. For me (working at a company where we moved to Gradle before I joined a coupled  of years ago), the XML-based approach use

[2022-01-25 02:19] zhanghzong opened #95 "java.lang.NoClassDefFoundError: com/sun/javadoc/SeeTag"
Unhandled exception in [StandaloneCoroutine{Cancelling}@660fd9ed, EdtCoroutineDispatcher@4b3f765]

java.lang.NoClassDefFoundError: com/sun/javadoc/SeeTag
	at ch.raffael.mddoclet.integrations.idea.MarkdownDocumentationProvider.generateDoc(MarkdownDocumentationProvider.java:127)
	at com.intellij.lang.documentation.CompositeDocumentationProvider.generateDoc(CompositeDocumentationProvider.java:141)
	a